/* links styles start */
.trpl_col {
	width:30%;
	padding:1em;
	float:left;
}
.middle_col_links {
	width:30%;
	padding:1em;
	border-left:solid thin $accent;
	border-right:solid thin $accent;
}
/* links styles end */