/* typography start */
@font-face {
    font-family: 'DicotMediumRegular';
    src: url('dicotme_-webfont.eot');
    src: url('dicotme_-webfont.eot?#iefix') format('embedded-opentype'),
         url('dicotme_-webfont.woff') format('woff'),
         url('dicotme_-webfont.ttf') format('truetype'),
         url('dicotme_-webfont.svg#DicotMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:verdana, arial, sans-serif;
	font-size:16px;
}

p {
	line-height:1.2em;
}
h1 {
	font-family:DicotMediumRegular;
	font-size:1.5em;
	font-weight:bold;
	padding:3px 0;
	color:$accent;
}
h2 {
	font-family:DicotMediumRegular;
	font-size:1.2em;
	font-weight:bold;
	padding:3px 0;
	color:$accent;
}
h3 {
	font-family:DicotMediumRegular;
	font-size:1em;
	font-weight:bold;
	padding:3px 0;
	color:$accent;
}
h4 {
	font-family:DicotMediumRegular;
	font-size:.8em;
	font-weight:bold;
	padding:3px 0;
	color:$accent;
	
}

.fwb {
	font-weight:bold;
}
.tac {
	text-align:center;
}
.fsi {
	font-style:italic;
}
.tar {
	text-align:right;
}
/* typography end */